.Report {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;

    border: 2px solid #000;
    border-top: 0;
}

.Report_blocked {
    background: #cfcfcf;
}

.Report:first-child {
    border-top: 2px solid #000;
}

.Report-Column {
    padding: 20px;
}

.Report-Column_type_data {
    width: 350px;
}

.Report-Column_type_actions {
    width: 200px;
}

.Report-Button {
    display: block;
}
